Face Mask Detection/data/
Handwritten Digit Recognition/data/
Traffic Sign Recognition/data/
Object Detection for Vehicles/data/
Object Detection for Vehicles/train/
Object Detection for Vehicles/valid/
Object Detection for Vehicles/runs/
Object Detection for Vehicles/yolov8n-kitti/
Human Activity Recognition/data/
Plant Disease Detection/data/
Pneumonia Detection/data/
Crowd Estimation/data/
Sentiment Analysis of Review or Social Media/data/
Fake News Detection/news/
Text Summarization/data
Chatbot with Seq2Seq Model/cornell movie-dialogs corpus
Spam Email Classification/data/
Named Entity Recognition/data
Named Entity Recognition/ner_model.pth
Emotion Detection from Text/data/
Language Translation with Transformers (GPT)/data
Stock Price Prediction using LSTM/data/
Weather Forcasting with LSTM/data
Energy Consumption Prediction Using Deep Learning/data/
Sales Forecasting Using Neural Networks/data
Traffic Flow Prediction Using LSTM/data
Cryptocurrency Price Prediction Using GRU/data
Air Quality Index Prediction Using Deep Learning/data
Crop Yield Prediction Using Deep Learning/data
Electricity Load Forecasting Using LSTM/data/
Rainfall Prediction Using Deep Learning Models/data/
Heart Disease Prediction Using ANN/data/
Diabetes Prediction Using Deep Learning/data/
Brain Tumor Detection from MRI Images/data/
COVID-19 Detection Using Chest X-Ray Images/data/
Covid-19 Detection Using Chest X-Ray Images/covid_xray_resnet18.pth
ECG Signal Classification Using Deep Learning/data/
ECG Signal Classification Using Deep Learning/best_ecg_baseline_pytorch.pth
Sleep Apnea Detection Using Neural Networks/data/
Patient Readmission Prediction Using Deep Learning/data/    
Movie Recommendation System Using Deep Learning/datasets/
Movie Recommendation System Using Deep Learning/models/cosine_sim.npy
Music Recommendation System/processed_data/
Music Recommendation System/MillionSongSubset/
.venv/